<!doctype html>
<html>
<head>
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="utf-8">
<title>StudyBuddy</title>
</head>
<body>
  <img id="leftImg" src="https://i.imgur.com/p43SYEp.png">
  <img id="rightImg" src="https://i.imgur.com/u60yR1X.png">
  <div id="backgroundTop">
       <div id="header">StudyBuddy</div>
       <div id="description"> A suite of tools for increasing study productivity </div><br>
  </div>
  <div id="content">
  <div id="uploadButton">
    <button type="button" class="btn btn-outline-dark" onclick="upload()">Upload</button>
  </div>
  <div id="upload"></div>
  <div id="filetypes">(.png, .jpg, .pdf, .docx, .txt, .wav, .mp3)</div>
  <div id="uploadDescription">Select a file to upload to either translate, perform tone analysis, use text to speech, or create a text summary.</div>
  <br>
  Or enter text here.<br>
  <div id="textBox">
    <textarea cols="75" rows="8"></textarea>
  </div>
  <br>
  <button type="button" class="btn btn-outline-dark">Record Speech</button>
  <button type="button" class="btn btn-outline-dark">Submit</button>
  <br>
  <br>
  <h4>Output here:<br></h4>
  
    <form action="/translate" method="post">
        <button name="file" type="submit">Translate</button>
    </form>
  
  <div class="btn-group btn-group-toggle" data-toggle="buttons" id="navBar">
    <label class="btn btn-outline-dark">
      <input type="radio" name="options" id="option2" autocomplete="off">
      Tone Analysis </label>
    <label class="btn btn-outline-dark">
      <input type="radio" name="options" id="option3" autocomplete="off">
      Text2Speech </label>
    <label class="btn btn-outline-dark">
      <input type="radio" name="options" id="option4" autocomplete="off">
      Text Summary </label>
  </div>
	<div id="returnMessage" class="returnMessage" onload="loadFunction()">
	
	</div>
</div>
</body>
</html>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/antixss.js" type="text/javascript"></script>

<script>
		function loadFunction() {
    		$.ajax({
                    method: "POST",
                    url: "/api",
                    contentType: "application/json",
                    data: JSON.stringify({ message: message })
                })
                    .then(function (data) {
                        console.log(data); 
                        $('.returnMessage').append("<p>" + data + "</p>"); 
                        //x=document.getElementsByClassName("you-chat");
                        //x.innerText="<p>" + data.slice(14, -2) + "</p>";
                        // $('#response').html(AntiXSS.sanitizeInput(data));
                        // $('#nameInput').hide();
                        // getNames();
                    });
		}
</script>

<script>	
	function upload()
	{
		document.getElementById('upload').innerHTML = 
		"<form action='/api' method='post' enctype='multipart/form-data'> <input type='file' name='file' capture> <input type='submit' value='Upload'> </form><br> <form action='/translate' method='post' enctype='multipart/form-data'> <input type='file' name='file' capture> <input type='submit' value='Translate'> </form><br>"
		document.getElementById('uploadButton').innerHTML = ""
	}
    
    function reset()
    {
        document.getElementById('uploadButton').innerHTML = "<button type='button' class='btn btn-outline-dark' onclick='upload()'>Upload</button>"
        document.getElementById('upload').innerHTML = ""
    }
    
    function translateButton()
    {
        document.getElementById('navBar').innerHTML = "<label class='btn btn-danger' onclick='translateButton()'> <input type='radio' name='options' id='option1' autocomplete='off' checked> Translate </label><label class='btn btn-outline-dark' onclick='toneAnalysisButton()'><input type='radio' name='options' id='option2' autocomplete='off'>Tone Analysis </label><label class='btn btn-outline-dark' onclick='text2SpeechButton()'><input type='radio' name='options' id='option3' autocomplete='off'> Text2Speech </label><label class='btn btn-outline-dark' onclick='textSummaryButton()'><input type='radio' name='options' id='option4' autocomplete='off'>Text Summary </label>"
	"<form action='/translate' method='post' enctype='multipart/form-data'> <input type='file' name='file' capture> <input type='submit' value='Upload'> </form><br>"
    }
    
    function toneAnalysisButton()
    {
        document.getElementById('navBar').innerHTML = "<label class='btn btn-outline-dark' onclick='translateButton()'> <input type='radio' name='options' id='option1' autocomplete='off'> Translate </label><label class='btn btn-danger' onclick='toneAnalysisButton()'><input type='radio' name='options' id='option2' autocomplete='off' checked>Tone Analysis </label><label class='btn btn-outline-dark' onclick='text2SpeechButton()'><input type='radio' name='options' id='option3' autocomplete='off'> Text2Speech </label><label class='btn btn-outline-dark' onclick='textSummaryButton()'><input type='radio' name='options' id='option4' autocomplete='off'>Text Summary </label>"
    }
    function text2SpeechButton()
    {
        document.getElementById('navBar').innerHTML = "<label class='btn btn-outline-dark' onclick='translateButton()'> <input type='radio' name='options' id='option1' autocomplete='off'> Translate </label><label class='btn btn-outline-dark' onclick='toneAnalysisButton()'><input type='radio' name='options' id='option2' autocomplete='off'>Tone Analysis </label><label class='btn btn-danger' onclick='text2SpeechButton()'><input type='radio' name='options' id='option3' autocomplete='off' checked> Text2Speech </label><label class='btn btn-outline-dark' onclick='textSummaryButton()'><input type='radio' name='options' id='option4' autocomplete='off'>Text Summary </label>"
    }
    function textSummaryButton()
    {
        document.getElementById('navBar').innerHTML = "<label class='btn btn-outline-dark' onclick='translateButton()'> <input type='radio' name='options' id='option1' autocomplete='off'> Translate </label><label class='btn btn-outline-dark' onclick='toneAnalysisButton()'><input type='radio' name='options' id='option2' autocomplete='off'>Tone Analysis </label><label class='btn btn-outline-dark' onclick='text2SpeechButton()'><input type='radio' name='options' id='option3' autocomplete='off'> Text2Speech </label><label class='btn btn-danger' onclick='textSummaryButton()'><input type='radio' name='options' id='option4' autocomplete='off' checked>Text Summary </label>"
    }
</script>
