<!doctype html>
<html>
<head>
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="utf-8">
<title>StudyBuddy</title>
</head>

<body>
	<div id="header">
		StudyBuddy
	</div>
	<div id="description">
		Enter description here...
	</div>
	<div id="buttons">
		Speech2Text description here.<br>
		<button type="button" class="btn btn-outline-dark">Speech2Text</button><br><br>
		Upload description here.<br>
		<button type="button" class="btn btn-outline-dark">Upload</button><br><br>
		Text box description here.<br>
		<textarea cols="75" rows="10"></textarea><br>
		<button type="button" class="btn btn-outline-dark">Submit</button><br><br>
	</div>
</body>
</html>
