/* CSS Document */

body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

#header{
	text-align: center;
	width: 100%;
	font-size: 40pt;
}

#description{
	text-align: center;
	width: 100%;
	font-size: 20pt;
}

#content{
	display: block;
	clear: both;
	text-align: center;
	padding: 20px 0 0 0;
}

#filetypes{
	font-size: 10pt;
}

#returnMessage {
    border-style: solid;
    border-width: 2px, 2px, 2px, 2px;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}